.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 60vh;
  height: 60vh;
  background-color: rgba(128, 128, 128, 0.9);
}

.winner-message {
  text-align: center;
  color: white;
  font-size: 10vh;
}

.reset-btn {
  width: 30vh;
  height: 8vh;
  font-size: 3vh;
  background-color: white;
  opacity: 0.8;
  color: green;
  border: 2px solid green;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    transition: 0.2s ease-in-out;
  }

  &:active {
    outline: none;
  }
}
